@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
html {
    background-image: url("https://imgs.search.brave.com/MgOvjaJw3y0YygqA1Edpnj1QNwvslG18y53IEqRjK_M/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWdz/LnNlYXJjaC5icmF2/ZS5jb20vMzEtaGZL/amtUc2taNnZ5bHBl/eEQwbkJ6MkliSVFh/YnQ1ZXNLbWIxaE90/Yy9yczpmaXQ6NTAw/OjA6MDowL2c6Y2Uv/YUhSMGNITTZMeTlw/YldjdS9abkpsWlhC/cGF5NWpiMjB2L1pu/SmxaUzEyWldOMGIz/SXYvY0hWeWNHeGxM/V2R5WVdScC9aVzUw/TFhSbFkyaHViMnh2/L1oza3RZbUZqYTJk/eWIzVnUvWkY4eU15/MHlNVFE1TVRFNC9P/RFV3TG1wd1p6OXpa/VzEwL1BXRnBjMTlv/ZVdKeWFXUW0vZHow/M05EQQ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}
body {
    font-family: 'Share Tech Mono', monospace;
    color: white;
    text-align: center;
}
h2 {
    padding-top: 20px;
    font-size: 50px;
}
hr {
    border: 2px white solid;
}
a {
    color: white;
    text-decoration-style: dashed;
}
h3 {
    font-size: 30px; 
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 18px;
}
ul {
    list-style-type: none;
}
td {
    border: 1px solid white;
}
th {
    border: 1px solid white;
}
table {
    margin: auto;
}
.clue {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c61390;
    color: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    font-size:1.2em;
    z-index: 1000;
}
.keys {
    width: 10px;
    padding-right: 75%;
}
.gate {
    text-decoration: none;
}
.gatePic {
    width: 250px;
}