html {
    background-image: url("https://imgs.search.brave.com/dsTmT6ZUQte9_VpH44Ka9hxuFDcZPx_3j19_3iVDa2E/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWdz/LnNlYXJjaC5icmF2/ZS5jb20vLW1LSXpy/VDc3di0yT29oeUtW/S1VKVERoalQ2YURF/b3dpMklhemhHOU1t/cy9yczpmaXQ6NTAw/OjA6MDowL2c6Y2Uv/YUhSMGNITTZMeTkz/WVd4cy9jR0Z3WlhK/aFkyTmxjM011L1ky/OXRMMloxYkd3dk1U/ZzUvTnpBeU5pNXFj/R2M");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
}
body {
    font-family: 'Share Tech Mono', monospace;
}